
@{
    ViewBag.Title = "OrderPlaced";
}

<h2 style="text-align:center;width:50px;height:50px;color:darkorange">Order Placed</h2>
<h1>Enjoy Your Meal</h1>
<a href="/Spice/Index" class="btn btn-dark" style="color:chocolate">Continue Ordering</a>

<div class="col-lg-3">
    <img id="loading" src="~/Images/Yum.gif" alt="Updating ..." />
</div>